<div class="login">
      <span class="form-title">
    LOGIN TO YOUR ACCOUNT
      </span>
  <form>
    <div class="wrap-input" data-validate = "Enter username">
      <input class="input"
             type="text"
             name="email"
             matInput autofocus
             [(ngModel)]="credentials.email" required
             placeholder="Email">
    </div>
    <div class="wrap-input" data-validate = "Enter Password">
      <input class="input"
             type="password"
             name="password"
             matInput autofocus
             [(ngModel)]="credentials.password" required
             placeholder="Password">
    </div>
    <button class="login-btn"
            mat-button (click)="login()">
      Login
    </button>
    <button class="register-btn"
            mat-button (click)="gotoRegisterPage()">
      Register
    </button>
  </form>
</div>
