
<div class="register">
      <span class="form-title">
    CREATE NEW ACCOUNT
      </span>
  <form>
    <div class="wrap-input" data-validate = "Enter FirstName">
      <input class="input"
             type="text"
             name="firstName"
             matInput autofocus
             [(ngModel)]="postData.firstName" required
             placeholder="FirstName">
    </div>
    <div class="wrap-input" data-validate = "Enter LastName">
      <input class="input"
             type="text"
             name="lastName"
             matInput autofocus
             [(ngModel)]="postData.lastName" required
             placeholder="LastName">
    </div>
    <div class="wrap-input" data-validate = "Enter Email">
      <input class="input"
             type="text"
             name="email"
             matInput autofocus
             [(ngModel)]="postData.email" required
             placeholder="Email">
    </div>
    <div class="wrap-input" data-validate = "Enter Password">
      <input class="input"
             type="password"
             name="password"
             matInput autofocus
             [(ngModel)]="postData.password" required
             placeholder="Password">
    </div>
    <button class="cancel-btn"
            mat-button (click)="cancel()">
      Cancel
    </button>
    <button class="register-btn"
            mat-button (click)="register()">
      Register
    </button>
  </form>
</div>
