<div class="example-container mat-elevation-z8">

  <mat-tab-group mat-align-tabs="start">
    <mat-tab (click)="toggleList()" label="List">
      <todo-list [data]="data"
                 [displayedColumns]="displayedColumns"
                 (deleteTask) = "refresh()">
      </todo-list>
    </mat-tab>
    <mat-tab (click)="toggleAdd()" label="Add task">
       <add-todo-list (taskCreated)="refresh()"></add-todo-list>
    </mat-tab>
  </mat-tab-group>
  <mat-tab-group mat-align-tabs="end">
    <span class="material-icons">
      power_settings_new
    </span>
  </mat-tab-group>

</div>
